main#admin {
    height: auto !important;

    .forms .form-container {
        width: calc(50% - 4em);
        padding: 0 2em;
        margin-bottom: 1em;

        h2 {
            color: var(--primary-color);
            font-family: "Poppins-SemiBold";
            font-size: 2rem;
            padding: 1em;
        }

        .form-content {
            background: var(--white);
            border-radius: 1em;
            border: 1px solid #ddd;
            box-shadow: -5px 5px 10px 2px #d7d7d7,
                        -2px 2px 10px #a8a8a844;
            width: 100%;
        }

        &.new-article .form-content {
            padding: 0 1em;

            .checkbox-option {
                align-items: flex-end;
                padding: 1em;
                gap: 5px;

                > span { font-family: "Poppins-Regular" }

                p {
                    margin: 0 2px;

                    input {
                        cursor: pointer;
                        position: relative;
                        top: 2px;
                    }

                    label {
                        cursor: pointer;
                        font-family: "SourceSansPro-Regular";
                        font-size: .9rem;
                    }
                }
            }

            table {
                width: calc(100% - 1.6em);
                padding: 1em .8em;
                white-space: 0;

                tr {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-bottom: .6em;
                    padding-bottom: .6em;
                    border-bottom: 1px solid #d9d9d9;

                    td:first-child {
                        font-size: 1rem;
                        font-family: "Poppins-Regular";
                        color: var(--primary-color);
                        min-width: 230px;

                        &::after { content: ' : ' }
                    }

                    td:last-child {
                        min-width: 350px;

                        input {
                            width: calc(100% - 24px);
                            padding: 6px 12px;
                            height: 24px;
                            font-family: "Poppins-Regular";
                            font-size: .9rem;
                            color: var(--black-2);
                            border-radius: 19px;
                            transition: all .3s;
                            border: 2px solid var(--white-2);

                            &::placeholder { color: var(--grey-3) }

                            &:target, &:focus, &:hover, &:not(:empty) { border-color: var(--primary-color) }
                        }
                    }

                    &:last-child {
                        margin-bottom: -.5em;
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }

            .descriptions {
                width: 100%;
                gap: 10px;

                textarea {
                    width: calc(100% - 2em);
                    border: 2px solid var(--white-2);
                    outline: none;
                    background: transparent;
                    transition: border-color .3s;
                    border-radius: 10px;
                    padding: 6px 8px;
                    min-height: 86px;
                    max-height: 300px;
                    resize: vertical;
                    font-size: 1rem;
                    font-family: "SourceSansPro-Regular";

                    &:target, &:focus, &:hover, &:not(:empty) { border-color: var(--primary-color) }
                }
            }

            .submit-btn {
                padding: 10px 0;

                button {
                    width: 120px;
                    height: 34px;
                    border-radius: 17px;
                    background: var(--primary-color);
                    color: var(--white);
                    font-family: "Poppins-SemiBold";
                    border: none;
                    letter-spacing: 1px;
                    font-size: 14px;
                    opacity: 1;
                    cursor: pointer;
                    transition: all 250ms;

                    &:hover, &:target, &:focus { opacity: .8 }
                }
            }
        }
    }
}
